<!DOCTYPE HTML>
<html> 
<head>
    <meta name="viewport" content="width='device-width', initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="style_about.css">
    <title> Practice</title>
</head>
<body>

    <!--Link to Homepage-->
   <!-- <a href="index.html">Home</a>
   <blockquote cite ="www.netnaija.com">
       We went from nothing to something
    </blockquote>
    <p style="color: cyan">Style me :)</p>-->

<!--Learning CSS Basics-->

<header>
    <h1>TFS</h1>
</header>
 <section class="banner">
     <img src="img/squid-g.png" alt="An image">
     <div class="welcome">
         <h2>Welcome to <br/> <span>TFS</span></h2>
     </div>
 </section>
<nav class="main-nav">
    <ul>
        <li><a href="folder/join.html" class="join">Join the team</a></li>
        <li><a href="folder/news.html">Latest</a></li>
        <li><a href="index.html">security</a></li>
        <li><a href="folder/contact.html">Contact us</a></li>
    </ul>
</nav>
<main>
    <article>
        <h2>Hey, come join us</h2>
        <p>Introducing our specialized security firm that is dedicated to securing your Internet of Things (IoT) devices through innovative hardware and web solutions. Our team of experts combines cutting-edge technology with years of industry experience to provide comprehensive security solutions for a range of IoT devices. We understand the unique challenges that come with securing connected devices, and we are committed to delivering top-notch services that protect your devices from potential threats. Whether you're looking for hardware solutions or web-based security measures, our team has the expertise to build customized solutions that meet your specific needs.
        </p>
    </article>
    <ul class="images">
    <li>
        <img src="img/squid-ga.png" alt="An image" ><br/> <!-- style ="max-width: 100%;"
            style ="max-width: 100%;"-->
        <img src="img/squid-game.png" alt="An image" >
    </li>
    </ul>
</main>
<section class="join">
    <h2>
        Join Today!
    </h2>
    <p>Are you a talented individual looking for an exciting and challenging career in the world of IoT security? 
        Look no further than our specialized security firm! We are currently seeking highly skilled professionals who are passionate about using cutting-edge technology to protect connected devices from potential threats. As a member of our team, you'll have the opportunity to work on innovative hardware and web-based solutions that help our clients stay ahead of the curve in IoT security. We offer a dynamic work environment, competitive compensation packages, and a collaborative team culture that values diversity, creativity, and excellence. 
        Join us in our mission to make the world a safer place for connected devices.
    </p>
    <form>
        <label for="email"></label>
        <input type="email" name="email" id="email" placeholder="Enter Your Email" required>
    </form>

</section>
<footer>
    <p class="copyright"> Copyright 2021 TFS</p>
</footer>






<!--
<p>
Lorem ipsum, dolor sit amet consectetur adipisicing elit.
 Aspernatur blanditiis dicta excepturi provident amet iusto eos repellendus! Autem, optio. 
Officiis rem quibusdam deleniti veritatis consequatur rerum tenetur dolorum tempora ab?
Lorem ipsum dolor sit amet, consectetur adipisicing elit. 
Harum cum at veniam itaque ullam non dignissimos amet ratione ex! 
Repellendus aperiam aut numquam fugiat odio? Libero itaque accusantium reprehenderit qui?
Lorem ipsum dolor sit, amet consectetur adipisicing elit. Minima, obcaecati. 
Cumque natus omnis aperiam nihil fugiat nemo harum quibusdam id fuga nulla! Officiis voluptatem esse quia accusamus vero, corporis alias?
</p>
-->
</body>
</html>
